*
{
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure
{
	display:block;
}
html 
{
  scroll-behavior: smooth;
}
body
{
	font-size:0.825em;
	color:#fcfcfc;
	background-color:#47476b;
	font-family:Arial, Helvetica, sans-serif;
}

a, a:visited 
{
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover
{
	text-decoration:underline;
}

a img
{
	border:none;
}

/* naglowki */

h1,h2,h3
{
	font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	text-shadow:0 5px 5px black;
}

h1
{
	/* logo */
	font-size:3.5em;
	padding:0.5em 0 0;
	text-transform:uppercase;
}

h3
{
	/* logo2 */
	font-family:forte,"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
}


h2
{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

p
{
	line-height:1.5em;
	padding-bottom:1em;
}

.line
{
	/* linia podzialu */
	height:1px;
	background-color:#24404c;
	border-bottom:1px solid #416371;
	margin:1em 0;
	overflow:hidden;
}

article .line
{
	background-color:#15242a;
	border-bottom-color:#204656;
	margin:1.3em 0;
}

footer .line
{
	margin:2em 0;
}


.clear:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

nav ul li
{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	color:#565656;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-shadow:0 1px 1px white;
	text-transform:uppercase;
}

nav ul li a:hover
{
	text-decoration:none;
	background-color:#f0f0f0;
}

nav, article, nav ul li a,figure
{
	-moz-border-radius:10px;
}

#page
{
	width:960px;
	margin:0 auto;
	position:relative;
}

article
{
	background-color:#33334d;
	margin:3em 0;
	padding:20px;
	
	text-shadow:0 2px 0 black;
}

figure
{
	border:3px solid #142830;
	float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
	width:500px;
}

figure:hover
{
	box-shadow:0 0 2px #4D7788;
}

figure img
{
	margin-left:-60px;
}

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}

footer p{
	margin-bottom:-2.5em;
	position:relative;
}

footer a,footer a:visited{
	color:#cccccc;
	background-color:#213e4a;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
}

footer a:hover{
	text-decoration:none;
	background-color:#142830;
}

footer a.by{
	float:left;

}

footer a.up{
	float:right;
}

/* gra */
.board
{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
td 
	{
	border:  2px solid #333;
	height:  120px;
	width:  120px;
	text-align:  center;
	vertical-align:  middle;
	font-family:  "Times New Roman", cursive, sans-serif;
	font-size:  80px;
	cursor: pointer;
	}

table 
	{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}

table tr:first-child td 
	{
	border-top: 0;
	}

table tr:last-child td 
	{
	border-bottom: 0;
	}

table tr td:first-child 
	{
	border-left: 0;
	}

table tr td:last-child 
	{
	border-right: 0;
	}

.wynik 
	{
	margin-top: 5px;
	letter-spacing: 2px;
	text-shadow:0 5px 5px black;
	text-align: center;
	}

.wybor
	{
	font-size:40px;
	color: white;
	font-weight: bold;
	text-align: center;
	}

.status
	{
	font-size:40px;
	color: white;
	font-weight: bold;
	text-align: center;
	}
/* nowe testy */
*{
	box-sizing: border-box;
}

#container{
	width: 100%;
}

#welcome{
	margin:20px;
	font-size:25px;
}

.screen{
	/*min-height: 250px;
	max-height: 450px;
	margin:10px;*/
	background-color: #303030;
	/*padding: 20px;
	font-size: 20px;*/

}

#footer{
	text-align: center;
}
.square{
	/*min-width: 100%;
	max-width: 100%;*/
}
.title{
	width: 100%;
	background-color: #536EA8;
	margin:10px;
	margin-left: 0px;
	text-align: center;
	vertical-align: middle;
	font-size:20px;
	height: 60px;
	
}
.title2{
	background-color: #EA9A28;
	margin:10px;
	margin-left: 0px;
	text-align: center;
	font-size: 15px;
	padding: 20px;
	line-height: 150%;
	width:100%;
	margin-top:20px;
}
.title3{
	width: 100%;
	text-align: center;
	margin: 10px;
	margin-left: 0px;
	font-size: 30px; 
}
.title4{
	float:left;
	text-align: center;
	min-width:42%;
	max-width:42%;
	min-height: 50px;
	max-height: 50px;
	background-color:#9B3E3E;
	margin: 10px;
	margin-left:12px;
	font-size: 18px;
	display: table-cell;
	vertical-align: middle;
	line-height: 50px;


}
.title4:hover{
	background-color:#829747;
}


.player1{
	float:left;
	min-width: 42%;
	max-width: 42%;
	text-align: center;
}

.player2{
	float:left;
	min-width: 42%;
	max-width: 42%;
	text-align: center;
	}
.pkt{
	float:left;
}
#podzial{
	float:left;
}
h2{
	font-size: 20px;
}

.game-board {
    margin:auto;
    position: relative;
    overflow: hidden;
    min-height: 250px;
	min-width: 300px;
	max-height: 250px;
	max-width: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-radius: 5px;
    gap: 10px;
    
}

.game-tile {
    cursor: pointer;
    background: #f6da17;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    transition: 0.4s background-color, 0.4s box-shadow;
}

.game-tile:hover {
    background-color:#F7C11A;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}



@media only screen and (min-width: 769px) {
	
#container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#welcome{
	margin:20px;
	font-size:50px;
	float:left;
}
.screen{
	float:left;
	/*min-height: 300px;
	min-width: 500px;
	max-height: 300px;
	max-width: 500px;*/
	margin:10px;
	background-color: #33334d;
	padding: 20px;
	font-size: 20px;

}

#footer{
	text-align: center;
	width: 100%;
	margin-top: 50px;
}
.square{
	/*min-width: 500px;
	max-width: 500px;*/
	float:left;
}
.title{
	float:left;
	width: 200px;
	height: 100px;
	background-color: #47476b;
	margin:10px;
	text-align: center;
	font-size:20px;
}
.title2{
	float:left;
	background-color: #EA9A28;
	margin:10px;
	text-align: center;
	font-size: 21px;
	padding: 20px;
	line-height: 150%;
	width:420px;
	margin-top:40px;
}
.title3{
	width: 480px;
	text-align: center;
	margin: 10px;
	font-size: 40px; 
}
.title4{
	float:right;
	text-align: center;
	min-width:29%;
	max-width:29%;
	min-height: 50px;
	max-height: 50px;
	background-color:#9B3E3E;
	margin: 10px;
	font-size: 18px;
	display: table-cell;
	vertical-align: middle;
	line-height: 50px;


}
.title4:hover{
	background-color:#829747;
}


.player1{
	float:left;
	min-width: 214px;
	max-width: 214px;
}

.player2{
	float:left;
	min-width: 214px;
	max-width: 214px;
	}
.pkt{
	float:left;
}
#podzial{
	float:left;
}

.game-board {
    margin:auto;
    position: relative;
    overflow: hidden;
    min-height: 250px;
	min-width: 450px;
	max-height: 250px;
	max-width: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-radius: 5px;
    gap: 10px;
    
}

.game-tile {
    cursor: pointer;
    background: #f6da17;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    transition: 0.4s background-color, 0.4s box-shadow;
}

.game-tile:hover {
    background-color:#F7C11A;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

}
